.btn {
  background-color: $btn-bg;
  border: none;
  border-radius: .2rem;
  color: $white;
  cursor: pointer;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}

.btn--link{
  display: inline-block;
  text-decoration: none;
}

.btn--pill{
  background-color: transparent;
  border: 1px solid $btn-pill-color;
  color: $btn-pill-color;
  margin: 0 ($space/2) 0 0;
  padding: .4rem .8rem;
}

.btn--default{
  background: $light-grey;
  color: $dark-grey;
  border: 1px solid #dddddd;
}

.btn--link-text{
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}