.header{
  background: $header-bg;
  color: $header-color;
}

.header__content{
  display: flex;
  justify-content: space-between;
  max-width: $max-width-val;
  margin: 0 auto;
  padding: $space*2;
}

.header__brand{
  margin: 0;
}